@import '../../common/sass/variables';
@import '../../common/sass/font';

.dropdown {
  font-size: 0.875rem;
  background: $color-white;
  width: max-content;
  color: $color-black;
  box-shadow: $drop-shadow;

  &-elm {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
  }

  &__item {
    display: flex;
    padding: 0.75rem 1.5rem;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: var(--font-size-base);
    font-weight: normal;

    &:hover {
      background-color: #d4e9fc;
    }

    &.active {
      background-color: #2684ff;
      color: $color-white;
    }
  }
}
