@import '../../common/sass/variables';

.dropdown {
  font-size: 14px;
  background: $color-white;
  width: max-content;
  color: $color-black;
  box-shadow: $drop-shadow;

  &-elm {
    cursor: pointer;
  }

  &__item {
    padding: var(--sp-4) var(--sp-6);
    text-align: center;

    &:hover {
      background-color: #d4e9fc;
    }

    &.active {
      background-color: #2684ff;
      color: white;
    }
  }
}
