.login-form {
  margin: 10rem auto 3rem;
  max-width: 30rem;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #999999;

  h2 {
    text-align: center;
    margin: 1.5rem;
  }

  .form-group {
    margin-bottom: 1.25em;

    label {
      display: flex;
      font-size: 16px;
      margin-bottom: 0.625em;
      align-items: center;
    }

    input {
      width: 100%;
      padding: 15px;
      border: 1px solid #acacac;

      &::placeholder {
        color: #acacac;
      }
    }

    input[type='checkbox'] {
      margin-right: 0.625rem;
      width: 1.875rem;
      height: 1.875rem;
      border: 1px solid #363636;
    }

    .error {
      color: red;
      font-size: 14px;
      margin-top: 0.5rem;
    }

    span {
      cursor: pointer;
      margin-left: -40px;
    }
  }

  button {
    height: 3.75rem;
    margin-top: 5.25rem;
    margin-bottom: 0.625rem;
    width: 100%;
    background: linear-gradient(90deg, #0066c1 0%, #009fe5 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  .registration-button {
    height: 2.5rem;
    background: #f6f6f6;
    border: 1px solid #acacac;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
}

.toast-message {
  font-size: 16px;
}
