.registration-form {
  margin: 10rem auto 3rem;
  max-width: 860px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #999999;

  h2 {
    text-align: center;
    margin: 1.5rem;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;

    .form-group {
      label {
        display: flex;
        font-size: 16px;
        margin-bottom: 0.625em;
        align-items: center;
      }

      input {
        width: 25rem;
        padding: 15px;
        border: 1px solid #acacac;

        &::placeholder {
          color: #acacac;
        }
      }

      input[type='checkbox'] {
        margin-right: 0.625rem;
        width: 1.875rem;
        height: 1.875rem;
        border: 1px solid #363636;
      }

      .error {
        color: red;
        font-size: 14px;
        margin-top: 0.5rem;
      }

      span {
        cursor: pointer;
        margin-left: -40px;
      }
    }
  }

  button {
    height: 3.75rem;
    background: #f6f6f6;
    border: 1px solid #acacac;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
    width: 100%;
    cursor: pointer;
  }
}
