@import '../../common/sass/variables';

.customized-table {
  tbody {
    display: block;
    overflow-y: auto;

    .empty-body {
      line-height: 50vh;
    }

    tr {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  thead {
    tr {
      background-color: #d4e9fc;
    }
  }

  tr {
    border-bottom: 1px solid #d9d9d9;
    display: table;
    width: 100%;
    table-layout: fixed;

    th {
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 14px;
      font-weight: 800;
    }

    td {
      border-left: none;
      border-right: none;
      text-align: center;
      min-height: 50px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;

      input {
        width: 20px;
        height: 20px;
        border: 0;
      }

      img {
        max-height: 139px;
        width: 80%;
        object-fit: cover;
      }

      button {
        cursor: pointer;
        background-color: white;
        border: 1px solid #c0c0c0;
        width: 50px;
        height: 30px;
      }
    }

    th:first-child,
    td:first-child {
      width: 15%;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 60%;
    }

    td:nth-child(2) {
      text-align: left;
      padding: 0 10px;
    }

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
      width: 12.5%;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 4px;

    .icon-nav {
      display: flex;
      gap: 4px;

      .button-nav {
        cursor: pointer;
        border: none;
        width: 2rem;
        height: 2rem;
      }
    }

    .page-number {
      display: flex;
      gap: 4px;

      button {
        background-color: white;
        border: 1px solid #cccccc;
        width: 2rem;
        height: 2rem;
      }

      button.clicked {
        background: linear-gradient(90deg, #0367c2 0%, #009fe5 100%);
        color: white;
      }
    }

    .admin-buttons {
      display: flex;
      gap: 4px;
      position: absolute;
      right: 18%;

      button {
        border: 1px solid #c0c0c0;
        height: 2.5rem;
        min-width: 3.75rem;

        &:hover {
          cursor: pointer;
        }
      }

      &__edit {
        background-color: #ffffff;
      }

      &__delete {
        background-color: #d9d9d9;
      }

      &__create {
        width: 6.25rem;
        color: white;
        background: linear-gradient(90deg, #0367c2 0%, #009fe5 100%);
      }
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 6px;
  }
}

.customized-table.managerial {
  thead {
    tr {
      background-color: #d4e9fc;

      th:first-child {
        width: 5%;
      }

      th:nth-child(2) {
        width: 10%;
      }

      th:nth-child(3) {
        width: 60%;
      }

      th:nth-child(4),
      th:nth-child(5) {
        width: 12.5%;
      }
    }
  }

  tbody {
    tr {
      td:first-child {
        width: 5%;
        text-align: center;
      }

      td:nth-child(2) {
        width: 10%;
        text-align: center;
      }

      td:nth-child(3) {
        width: 60%;
        text-align: left;
      }

      td:nth-child(4),
      td:nth-child(5) {
        width: 12.5%;
      }
    }
  }
}

.modal {
  .message {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin-top: 5.25rem;
  }

  &__buttons {
    display: flex;
    align-self: flex-end;

    button {
      cursor: pointer;
      width: 100%;
      height: 2.5rem;
      border: none;
      margin-top: 4.188rem;
    }

    .cancel-button {
      background-color: #d9d9d9;
    }

    .confirm-button {
      background: linear-gradient(90deg, #0367c2 0%, #009fe5 100%);
      color: white;
    }
  }
}

@media only screen and (max-width: $breakpoint-xl) {
  .customized-table {
    margin-top: 2.5rem;

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4) {
      display: none;
    }

    .pagination {
      .admin-buttons {
        margin-top: 75px;
      }
    }
  }

  .customized-table.managerial {
    thead {
      tr {
        th:first-child {
          width: 10%;
        }

        th:nth-child(2) {
          width: 20%;
        }

        th:nth-child(3) {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        th:nth-child(4),
        th:nth-child(5) {
          display: none;
        }
      }
    }

    tbody {
      tr {
        td:first-child {
          width: 10%;
        }

        td:nth-child(2) {
          width: 20%;
        }

        td:nth-child(3) {
          width: 100%;
          padding: 0 10px;
          display: flex;
          align-items: center;
        }

        td:nth-child(4),
        td:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .customized-table {
    margin-top: 5rem;
  }
}
