@import './common/sass/variables.scss';
@import './common/sass/font.scss';
@import '~react-toastify/dist/ReactToastify.css';
@import './common/sass/animation';
@import 'swiper/css';
@import 'swiper/css/navigation';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-size: 18px;
  font-family: $font-family-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  position: relative;
  height: 100%;
}

.container {
  position: relative;
  flex-grow: 1;
  width: calc(100% - 200px);
  overflow: auto;
}

.sidebar--collapsed .container {
  width: calc(100% - 64px);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.gradual-color-transition {
  background: linear-gradient(90deg, #0367c2 0%, #009fe5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes slideUp {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
