@import '../../common/sass/variables';

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #cccccc;
  border-radius: 16px;
  cursor: pointer;
  height: 150px;
  width: 100%;
  padding: 20px;

  .card-title {
    font-size: 15px;
    font-weight: bold;
    color: #3b4650;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-content {
    font-size: 14px;
    font-weight: 300;
    color: #606a74;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.2em;
  }

  .card-date {
    font-size: 12px;
    font-weight: 300;
    color: #3b4650;
  }

  &:hover {
    background: linear-gradient(to right, #0066c1 25%, #009fe5);
    box-shadow: 6px 6px 25px #00000033;
    transform: translateY(-0.25em);
    transition: transform 0.3s;

    .card-title,
    .card-content,
    .card-date {
      color: white;
    }
  }
}

.card-list {
  background: $color-white;
  border-radius: 16px;
  display: flex;
  flex-direction: row;

  &__prefix-icon {
    margin-right: 32px;
  }

  &__content {
    width: 100%;
    padding: var(--sp-4) var(--sp-6);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__actions {
    width: 64px;
    border-left: 1px solid $color-grey-l80;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
